.container-table {
    margin : 0 2em;
    display: flex;
}

.margin-1rem {
    margin: 1rem;
}

.page {
    height: inherit;
    width: inherit;
}

.centerChildren{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapText {
    word-wrap: break-word;
}

.treeview {
    color: #777;
    font-weight: 300;
}

.is-clearfix {
    clear: both;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.inherit {
    width: inherit;
    height: inherit;
}